<!-- Saem Jeon, sj846@drexel.edu
CS530: DUI, Assignment 1 -->
{% extends 'base.html' %}
{% set active = "Bikes" %}

{% block title %}
See our bikes
{% endblock %}

{% block content %}

<section class="jumbotron">
	<div class="text-left">
		<h1 class="jumbotron-heading">Our Bikes</h1>
		<p class="lead text-muted">We have the best selection of bikes around. Please see selection below!</p>
		<p>
			<!-- Create a table with list of bikes -->
			<table class="table">
				<!-- Create a table header -->
				<thead>
					<tr>
						<th scope="col">Image</th>
						<th scope="col">Name</th>
						<th scope="col">Wheels</th>
						<th scope="col">Size</th>
						<th scope="col">Motorized</th>
						<th scope="col">Folding</th>
					</tr>
				</thead>
				<!-- Create rows with information of bikes -->
				<tbody>
					<!-- Loop thourgh the list of bikes -->
					{% for bike in data["content"] %}
					<tr>
						<!-- Display infomration of each bike -->
						<td><img class="bike-img" src="img/bikes/{{ bike.image }}"/></td>
						<td>{{ bike.name }}</td>
						<td>{{ bike.wheels }}"</td>
						<td>{{ bike.size }}</td>
						<td>{{ bike.motor }}</td>
						<td>{{ bike.folding }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</p>
	</div>
</section>

{% endblock %}