<!-- Saem Jeon, sj846@drexel.edu
CS530: DUI, Project 1 -->

{% extends 'base.html' %}
{% set active = "Buy" %}

{% block title %}
Buy
{% endblock %}

{% block content %}


<section class="jumbotron">
  <div>
    <h1 class="jumbotron-heading">Buy</h1>
    <div class="row">
      <div class="column col-3 search-box" id="serach">
        <form method="POST" action="/buy" class="needs-validation" novalidate>
          <div style="text-align: right;">
            <button type="reset" class="btn btn-outline-info" id="resetButton">Reset filters</button>
          </div>
          <div class="form-group column">
            <label for="artist" class="col-3 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Artist</label>
              <select class="form-control" name="artist" id="artist">
              </select>
          </div>
          <div class="form-group column">
            <label for="type" class="col-3 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Type</label>
              <select class="form-control" name="type" id="type">
                <option></option>
                <option value="1">Album</option>
                <option value="2">Photo Cards</option>
              </select>
          </div>
          <div class="form-group column">
            <label for="albums" class="col-3 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Album</label>
            <select class="form-control" name="albums" id="albums">
            </select>
          </div>
          <div class="form-group column" id="member_row">
            <label for="members" class="col-3 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Member</label>
            <select class="form-control" name="members" id="members">
            </select>
          </div>
          <div class="form-group column" id="member_row">
            <label for="price" class="col-3 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Price</label>
            <select class="form-control" name="price" id="price">
              <option></option>
              <option value="1">Low to high</option>
              <option value="2">High to Low</option>
            </select>
          </div>
          <div class="form-group column" id="member_row">
            <label for="delivery" class="col-3 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Delivery option</label>
            <select class="form-control" name="delivery" id="delivery">
              <option></option>
              <option value="1">Pick-up</option>
              <option value="2">Free Shipping</option>
              <option value="3">Shipping Fee</option>
            </select>
          </div>
          <div class="row justify-content-md-center">
            <button type="submit" class="btn btn-outline-info">Search</button>
          </div>
        </form>
      </div>
      <div class="column col-9" id="product_list"></div>
    </div>
    <nav>
      <ul id="paginator" class="pagination justify-content-center pagelink-style">
      </ul>
    </nav>
  </div>
  <script>
    var groups, albums, members
    var currentPage = 1;
    const productPerPage = 2;
    var numOfPages = 1;
    var pageList = new Array();
    var products = {{ data }}

    // Load product listing
    function loadProducts() {
      numOfPages = Math.ceil(Object.keys(products).length / productPerPage);
      var begin = ((currentPage - 1) * productPerPage)
      var end = begin + productPerPage
      pageList = []
      if (end > Object.keys(products).length) {
        end = Object.keys(products).length
      }

      for (i = begin + 1; i < end + 1; i++) {
        pageList.push(products[i])
      }

      createProductList()
      createPageLink()
    }

    // Get group dropdown list
    function get_groups() {
      var groups = null;
			$.ajax({
				url: "/api/get_groups",
				type: "get",
				async: false,
				success: function (data) {
					$('#artist').empty();
					var group_list = $("#artist")
          group_list.append($("<option></option>"))
					$.each(data, function (key, value) {
						group_list
							.append($("<option></option>")
								.attr("value", value[0])
								.text(value[1]));
					});
          groups = data;
				}
			})
      return groups
		}

    // Get member dropdown list
    function get_members() {
			var group_id = $("#artist").val()
			$.get("/api/get_members/" + String(group_id), function (members) {
				$("#members").empty()
				var member_list = $("#members")
        member_list.append($("<option></option>"))
				$.each(members, function (key, value) {
					member_list
						.append($("<option></option>")
							.attr("value", value[0])
							.text(value[1]));
				});
			});;
		}

    // Get album dropdown list
		function get_albums_list() {
			var group_id = $("#artist").val()
			$.ajax({
				url: "/api/get_albums/" + String(group_id),
				type: "get",
				async: false,
				success: function (data) {
					var i;
					var row = "";
					$("#albums").empty()
					var album = $("#albums")
          album.append($("<option></option>"))
					$.each(data, function (key, value) {
						album
							.append($("<option></option>")
								.attr("value", value[2])
								.text(value[3]));
					});
				}
			})
		}

    // Get all the albums
    function get_all_albums() {
      var albums = null;
      $.ajax({
        url: "/api/get_all_albums",
        type: "get",
        async: false,
        success: function (data) {
          albums = data;
        }
      })
      return albums
    }

    // Get all the members
    function get_all_members() {
      var members = null;
      $.ajax({
        url: "/api/get_all_members",
        type: "get",
        async: false,
        success: function (data) {
          members = data;
        }
      })
      return members
    }

    // Get all products
    function get_products(groups, albums, members) {
			$.ajax({
				url: "/api/get_products",
				type: "get",
				async: false,
				success: function (data) {
          products = data
          loadProducts()
				}
			})
		}

    // Create product listing
    function createProductList() {
      $("#product_list").empty()
      for (i=0; i < pageList.length; i++) {
        $("#product_list").append(buildProductList(pageList[i]))
      }
    }

    // Build product list row
    function buildProductList(product) {
      var i, photo, description, opening, cart, productList;
      opening = "<div class='product-list row' id='productRow'>"
      ending = "</div>"
      description = "<div class='d-flex flex-column product-description col-4'>"
      if (product[3] == "1") {
        photo = "<div class='product-pic'><img class='product-album' src='img/albums/" + product[2] + "/" + product[4] + ".jpg'/></div>"
        description += "<p>Album</p>"
        description += "<p class='product-bold'>" + groups[product[2]-1][1] + ": " + albums[product[2]][product[4]-1][2] +  "</p>"
        description += "<p>$" + product[10] + "</p>"
      } else {
        photo = "<div class='product-pic'><img class='product-photo' src='img/photocards/" + product[2] + "/" + product[5] + "_" + product[4] + ".jpg'/></div>"
        description += "<p>Photo Card</p>"
        description += "<p class='product-bold'>" + groups[product[2]-1][1] + " " + members[product[5]][0][1] + ": " + albums[product[2]][product[4]-1][2] +  "</p>"
        description += "<p>$" + product[10] + "</p>"
      }
      if (product[6] == "1") {
        description += "<p>Pick-up</p>"
        description += "<p>Within " + product[8] + " miles of " + product[7] + "</p>" + ending
      } else if (product[6] == "2") {
        description += "<p>Free shipping</p>" + ending
      } else {
        description += "<p>+$" + product[9] +" shipping</p>" + ending
      }
      cart ="<div class='d-flex flex-column cart' id='cart'><img class='shopping-cart' src='/img/shopping_cart.svg' id='" + product[0] + "' onclick='addToCart(this)'></div>"
      productList = opening + photo + description + cart
      return productList
    }

    // Create pagination link
    function createPageLink() {
      $("#paginator").empty().append(createPage("<<", currentPage - 1, false, currentPage == 1))
      for (i = 1; i < numOfPages + 1; i++) {
        $("#paginator").append(createPage(i, i, currentPage == i, false))
      }
      $("#paginator").append(createPage(">>", currentPage + 1, false, currentPage == numOfPages))
    }

    // Create page
    function createPage(text, toPage, on, off) {
      var link = $("<li>").addClass("page-item").append(
        $("<a>").addClass("page-link").text(text).click(function () {
          currentPage = toPage;
          loadProducts()
        })
      )
      if (on) {
        link.addClass('active');
      }
      if (off) {
        link.addClass('disabled')
      }
      return link
    }

    // Show options depending on artist and type choices
    function showOptions() {
      var artist = $("#artist").val()
			var type = $("#type").val()
      if (artist == "") {
        $("#albums").empty().append($("<option></option>"))
        $("#members").empty().append($("<option></option>"))
      } else {
        if (type == "1") {
				$("#member_row").hide();
				get_albums_list()
			} else if (type == "2") {
				$("#member_row").show();
				get_albums_list()
				get_members()
			}
      }
		}

    function addToCart(obj) {
      var product_id = obj.id
      $.ajax({
				url: "/api/add_to_cart/" + String(product_id),
				type: "get",
				async: false,
				success: function (data) {
          console.log(data)
				}
			})
    }

    $(function () {
      groups = get_groups()
      albums = get_all_albums()
      members = get_all_members()
      loadProducts()
      showOptions()
      $("#artist").change(showOptions)
      $("#type").change(showOptions)
    });
  </script>
</section>

{% endblock %}