<!-- Saem Jeon, sj846@drexel.edu
CS530: DUI, Project 1 -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
	<div class="text-center">
		<h1 class="jumbotron-heading">Collect Your K-Pop</h1>
		<p class="lead text-muted">Love K-Pop? Do you have your favorite artist whose albums and/or photo cards you are collecting?
			This is the perfect place for you to collect your favorite artist!!
		</p>
		<p><img class="img-fluid" src="/img/Gangnamstyle.gif"></p>
	</div>
</section>

{% endblock %}