<!-- Saem Jeon, sj846@drexel.edu
CS530: DUI, Project 1 -->

{% extends 'base.html' %}
{% set active = "My Pop" %}

{% block title %}
My Pop
{% endblock %}

{% block content %}


<section class="jumbotron">
	<div>
		<h1 class="jumbotron-heading">My Pop</h1>
		<a href="/edit_my_pop">
			<i href="/edit_my_pop" class="far fa-edit fa-3x"></i>
		</a>
		<ul class="list">
			<li>
				<div class="form-group row">
					<label for="artist" class="col-sm-4 col-form-label" style="font-size: 1.2rem; font-weight: bold;">My Artist</label>
					<div class="col-sm-6" name="artist" id="artist">
					</div>
				</div>
			</li>
			<li>
				<div class="form-group row">
					<label for="member" class="col-sm-4 col-form-label" style="font-size: 1.2rem; font-weight: bold;">My Favorite Member</label>
					<div class="col-sm-6" name="member" id="member">
					</div>
				</div>
			</li>
			<li>
				<div class="form-group row">
					<label for="address" class="col-sm-4 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Address</label>
					<div class="col-sm-6" name="address" id="address">
					</div>
				</div>
			</li>
			<li>
				<div class="form-group row">
					<label for="distance" class="col-sm-4 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Preferred Distance</label>
					<div class="col-sm-6" name="distance" id="distance">
					</div>
				</div>
			</li>
			<li>
				<div class="form-group row">
					<label for="language" class="col-sm-4 col-form-label" style="font-size: 1.2rem; font-weight: bold;">Preferred Language</label>
					<div class="col-sm-6" name="language" id="language">
					</div>
				</div>
			</li>
		</ul>

	</div>
	<script>
		screen_load()
		// Load the screen and get all the info
		function screen_load() {
			var profile = get_profile()
		}

		function get_profile() {
			var profile = null;
			$.ajax({
				url: "/api/get_my_pop",
				type: "get",
				async: false,
				success: function (data) {
					profile = data
					$("#artist").append("<p class='form-control-plaintext'>" + profile['artist'] + "</p>")
					$("#member").append("<p class='form-control-plaintext'>" + profile['member'] + "</p>")
					var address = "Please set your address"
					if ((profile['city'] != null) && (profile['state'] != null) && (profile['zipcode'] != null)) {
						address = profile['city'] + ", " + profile['state'] + " " + profile['zipcode']
					}
					
					var distance = "Please set your preferred distance"
					if (profile['distance'] != null) {
						distance = profile['distance'] + " miles"
					}

					var language = "Please set your preferred language"
					if (profile['language'] != "None") {
						language = profile['language']
					}

					$("#address").append("<p class='form-control-plaintext'>" + address + "</p>")
					$("#distance").append("<p class='form-control-plaintext'>" + distance + "</p>")
					$("#language").append("<p class='form-control-plaintext'>" + language + "</p>")
				}
			});;
			return profile
		}
	</script>
</section>

{% endblock %}