/* Saem Jeon, sj846@drexel.edu
CS530: DUI, Assignment 1 */

body {
	font-family: "Arial";
	font-size: 1rem;
	background: #fff;
}

header {
	background-color: rgb(0, 55, 100);
}

.btn {
	/* background: white;
	border-color: blue;
	color: black; */
}

.btn:hover {
	/* background: #608C59;
	border-color: #406C39;
	color: black; */
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;
}

.content {
	padding: 2rem 1.5rem;
}

.jumbotron {
	padding: 1.5rem;
	background: 0;
}

.active {
	color: white;
}

.rented {
	opacity: 0.25;
}

.my-2 {
	background-color: grey !important;
	color: white !important;
}

.list {
	font-size:1.3rem;
}

.artist-logo {
	max-width: 200px;
	height: 200px;
	display: block;
	margin: 40px;
}

.fav-member {
	width: 200px; /* width of container */
	height: 200px; /* height of container */
	margin: 40px;
	display: block;
}

.photocard {
	height: 200px;
	margin: 40px;
	display: block;
}

.percentage {
	width: 500px;
	height: 25px !important;
	margin: 30px;
}

.collection-label {
	font-size: 1.2rem;
	margin: 30px;	
	font-weight: bold;
}

div.album-list img {
	width: 150px;
	height: 150px;
	margin: 10px;
	display: inline-block;
	float: none;
}

.album-list {
	overflow: auto;
  white-space: nowrap;
}

.album {
	width: 150px;
	height: 150px;
}

div.photo-list img {
	width: 150px;
	height: 200px;
	margin: 10px;
	display: inline-block;
	float: none;
}

.photo-list {
	overflow: auto;
  white-space: nowrap;
}

.not-collected {
	color: black;
	opacity: 0.3;
}

::-webkit-scrollbar {
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	border-radius: 10px;
}

.product-pic {
	height: 200px;
	width: 200px;
	margin: 20px;
	text-align: center;
}

.product-album {
	height: 200px;
	width: 200px;
}

.product-photo {
	height:200px;
}


.product-description {
	display: flex;
  justify-content: center;
  flex-direction: column;
}

.shopping-cart {
	height: 50px;
	width: 50px;
	margin: 50px;
}

.cart {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 50px;
}

.sell-photo {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.product-list {
	border-bottom: 1px solid grey;
}

.product-bold {
	font-size: 1.2rem;
	font-weight: bold;
}